In [1]:
# Importando o Pandas.
import pandas as pd
pd.__version__

'2.2.2'

In [2]:
# Importando o dataset.
ibm = pd.read_csv('../dados/IBM.CSV', names=['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume'], header=0)
ibm

,date,open,high,low,close,adj_close,volume
0,2000-01-03,107.492828,110.898659,106.955070,110.898659,60.474819,10823694
1,2000-01-04,108.986618,109.464630,105.999046,107.134323,58.422073,8606279
2,2000-01-05,107.970840,114.483749,107.194077,110.898659,60.474819,13318927
3,2000-01-06,112.810707,113.706978,108.508606,108.986618,59.432163,8338607
4,2000-01-07,112.093689,112.750954,105.760040,108.508606,59.171448,12402108
...,...,...,...,...,...,...,...
6113,2024-04-22,182.449997,183.320007,180.449997,181.899994,181.899994,3076500
6114,2024-04-23,182.729996,184.679993,179.000000,182.190002,182.190002,5950200
6115,2024-04-24,183.169998,184.289993,181.399994,184.100006,184.100006,7616600
6116,2024-04-25,168.199997,172.449997,165.660004,168.910004,168.910004,16702200
6117,2024-04-26,167.500000,167.869995,165.729996,167.130005,167.130005,8950900

In [3]:
# Remoção de valores nulos
ibm = ibm.dropna()

In [4]:
# Arredondando para duas casas decimais, para tornar os cálculos mais fáceis.
ibm['open'] = ibm['open'].round(3)
ibm['high'] = ibm['high'].round(3)
ibm['low'] = ibm['low'].round(3)
ibm['close'] = ibm['close'].round(3)
ibm['adj_close'] = ibm['adj_close'].round(3)
ibm

            date     open     high      low    close  adj_close    volume
0     2000-01-03  107.493  110.899  106.955  110.899     60.475  10823694
1     2000-01-04  108.987  109.465  105.999  107.134     58.422   8606279
2     2000-01-05  107.971  114.484  107.194  110.899     60.475  13318927
3     2000-01-06  112.811  113.707  108.509  108.987     59.432   8338607
4     2000-01-07  112.094  112.751  105.760  108.509     59.171  12402108
...          ...      ...      ...      ...      ...        ...       ...
6113  2024-04-22  182.450  183.320  180.450  181.900    181.900   3076500
6114  2024-04-23  182.730  184.680  179.000  182.190    182.190   5950200
6115  2024-04-24  183.170  184.290  181.400  184.100    184.100   7616600
6116  2024-04-25  168.200  172.450  165.660  168.910    168.910  16702200
6117  2024-04-26  167.500  167.870  165.730  167.130    167.130   8950900

[6118 rows x 7 columns]

In [5]:
# Gerando estatísticas de tendência de centralidade, dispersão e distribuição.

estatisticas = pd.DataFrame({
    'média': ibm.mean(numeric_only=True),
    'moda': ibm.mode(numeric_only=True).iloc[0],
    'mediana': ibm.median(numeric_only=True),
    'desvio-padrão': ibm.std(numeric_only=True),
    'variância': ibm.var(numeric_only=True),
    'assimetria': ibm.skew(numeric_only=True),
    'curtose': ibm.kurtosis(numeric_only=True)})

estatisticas.round(3)

,média,moda,mediana,desvio-padrão,variância,assimetria,curtose
open,125.580,101.816,124.159,34.380,1.181961e+03,0.254,-0.811
high,126.712,105.163,125.254,34.438,1.185999e+03,0.252,-0.802
low,124.528,94.168,123.078,34.318,1.177693e+03,0.258,-0.815
close,125.637,85.086,124.198,34.385,1.182335e+03,0.254,-0.808
adj_close,86.724,42.536,95.755,32.369,1.047778e+03,0.217,-0.636
volume,6181655.716,2590001.000,5313628.000,3449506.289,1.189909e+13,2.500,11.646

In [6]:
# Gerando uma matriz de correlação linear.
ibm[['open', 'high', 'low', 'close', 'adj_close']].corr()

               open      high       low     close  adj_close
open       1.000000  0.999539  0.999529  0.999090   0.874191
high       0.999539  1.000000  0.999337  0.999554   0.874190
low        0.999529  0.999337  1.000000  0.999547   0.874279
close      0.999090  0.999554  0.999547  1.000000   0.874515
adj_close  0.874191  0.874190  0.874279  0.874515   1.000000